/Mem.class
/haha.class
/MidCoding.class
/Hour.class
/Nxi.class
/add.class
/fibonacci.class
/Mid10539.class
/add2.class
/greatestcommonfactor.class
/Mid1110.class
/Mid10952.class
/Mid10818.class
/star.class
/star2.class
/Mid2443.class
/isPrime.class
/power.class
/powerInt.class
/powerDouble.class
